{% extends '_base.html' %}
{% load static %}

{% block content %}
    <section>
      <div class="page-header">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-6">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">
                    {% if request.resolver_match.url_name == 'login' %}
                      Welcome back!
                    {% endif %}

                    {% if request.resolver_match.url_name == 'registrate' %}
                      Welcome!
                    {% endif %}
                  </h3>
                  <p class="mb-2">
                    {% if request.resolver_match.url_name == 'login' %}
                      Enter your email and password to sign in
                    {% endif %}

                    {% if request.resolver_match.url_name == 'registrate' %}
                      Enter your email and password to sign up
                    {% endif %}
                  </p>
                </div>
                <div class="card-body">
                  {% include 'includes/user_form.html' %}

                  {% if request.resolver_match.url_name == 'login'%}
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <div>
                        <a class="text-sm text-primary" href="">Forgot Password?</a>
                      </div>
                    </div>
                  {% endif %}
                </div>

                {% if request.resolver_match.url_name == "login" %}
                  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-4 mt-2 text-sm mx-auto">
                      Don't have an account?
                      <a href="{% url 'service:registrate' %}" class="text-info text-gradient font-weight-bold">Sign up</a>
                    </p>
                  </div>
                {% endif %}
                  <a
                      href="{% url 'service:index' %}"
                      class="text-info text-gradient font-weight-bold text-center"
                  >
                    {% if request.resolver_match.url_name == 'login' %}
                      Sign in later
                    {% endif %}

                    {% if request.resolver_match.url_name == 'registrate' %}
                      Sign up later
                    {% endif %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}