{% extends 'pages/event_action_page.html' %}
{% load static %}

{%  block content %}
  <section class="event-detail-page">
    <div class="event-bar">
      <div class="event-bar_section">
        <img class="event-bar_image-money" src="{% static 'images/money-2.png' %}" alt="Money icon">
        <span>
          {{ event.get_total_expenses_amount|floatformat:2 }}
          {{ event.currency.symbol }}
        </span>
      </div>

      <div class="event-bar_section">
        <img class="event-bar_image-butter" src="{% static 'images/butter.png' %}" alt="Butter icon">
        <span>
          {{ event.expenses.count }}
        </span>
      </div>

      <div class="event-bar_section">
        <img class="event-bar_image-participants" src="{% static 'images/participants-icon.png' %}" alt="Participants icon">
        <span>
          {{ event.participants.count }}
        </span>
      </div>


      <div class="event-bar_section">
        <span class="event-bar-date">
          {{ event.created_at|date:"d M Y" }}
        </span>
      </div>
    </div>

    {{ block.super }}

    <div>
      {% include 'includes/expense_form.html' %}

      {% if event.expenses.count %}
        <ul class="expenses shadow">
          {% for expense in event.expenses.all %}
            <li class="expense">
              <div class="expense_section">
                <img class="expense_image-butter" src="{% static 'images/butter.png' %}" alt="butter icon">
                <span>
                  {{ expense.name }}
                </span>
              </div>

              <div class="expense_section">
                <img class="expense_image-pay" src="{% static 'images/pay.png' %}" alt="pay icon">
                <span>
                  {{ expense.payer.name }}
                </span>
              </div>

              <div class="expense_section">
                <img class="expense_image-pay" src="{% static 'images/money-2.png' %}" alt="pay icon">
                <span>
                  {{ expense.amount }}
                  {{ expense.event.currency.symbol }}
                </span>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
     </div>
  </section>
{% endblock %}