{% extends '_base.html' %}
{% load static %}

{% block content %}
  <div class="container event-page-container shadow">

    <div class="event-card">
      <img src="{% static 'images/event-icon.png' %}" alt="butter image">
      {% include 'includes/form.html' %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Select2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#id_participants').select2({
            tags: true,
        });
        $('#id_currency').select2();
    });
  </script>
{% endblock %}