{% extends '_base.html' %}
{% load static %}

{% block content %}
  <section class="home">
    <div class="home-head">
      <a href="{% url 'service:event-create' %}">
        <button type="button" class="button">
          <div class="button-top">
            <img src="{% static 'images/event-icon.png' %}" alt="Butter icon">
          </div>
          <div class="button-bottom"></div>
          <div class="button-base"></div>
        </button>
      </a>
      
      {% if event_chips %}
        <ul class="event-chips">
          {% for event_chip in event_chips %}
            <li>
              <a href="{% url 'service:event-detail' event_chip.id %}">
                <img
                    class="event-chip-icon"
                    src="{% static 'images/event-icon.png' %}"
                    alt="Event icon"
                >
                <p class="text-info text-gradient">
                  {{ event_chip.name|truncatechars_html:15 }}
                </p>
              </a>
            </li>
          {% endfor %}

          {% if is_max_events_reached %}
            <li>
              <a href="{% url 'service:event-list' %}">
                <p class="text-info text-gradient">
                  ...
                </p>
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>

    <div class="home-content">
      <h3 class="font-weight-bolder text-info text-gradient">👋 Welcome to Butter Split</h3>

      <div class="home-content-section">
        <h6>
          🗓
          <span class="font-weight-bolder text-info text-gradient">
            1. Create an event
          </span>
        </h6>

        <span class="text-info text-gradient">Every calculation starts with an event. This can be anything:</span>

        <ul class="home-section-list">
          <li class="home-section-item">
            ✈️&nbsp;<span class="text-info text-gradient">a trip with friends</span>
          </li>

          <li class="home-section-item">
            🍝&nbsp;<span class="text-info text-gradient">a dinner out together</span>
          </li>

          <li class="home-section-item">
            🏝&nbsp;<span class="text-info text-gradient">a party or a vacation</span>
          </li>
        </ul>
      </div>

      <div class="home-content-section reverse">
        <h6>
          <span class="font-weight-bolder text-info text-gradient">
            2. Add participants
          </span>
          👥
        </h6>

        <span class="text-info text-gradient">List everyone who is taking part.</span>
        <br>
        <span class="text-info text-gradient">They can be your friends, colleagues, or family members.</span>
        <br>
        <span class="text-info text-gradient">It doesn’t matter who actually pays — everyone will be included.</span>
      </div>

      <div class="home-content-section">
        <h6>
          💸
          <span class="font-weight-bolder text-info text-gradient">
            3. Add expenses
          </span>
        </h6>

        <span class="text-info text-gradient">Record all the expenses for the event:</span>

        <ul class="home-section-list">
          <li class="home-section-item">
            🙋‍♂️&nbsp;<span class="text-info text-gradient">who paid.</span>
          </li>

          <li class="home-section-item">
            🫰&nbsp;<span class="text-info text-gradient">how much.</span>
          </li>

          <li class="home-section-item">
            ❓&nbsp;<span class="text-info text-gradient">and what for.</span>
          </li>
        </ul>
      </div>

      <div class="home-content-section reverse">
        <h6>
          ✅
          <span class="font-weight-bolder text-info text-gradient">
            4. Get a fair result
          </span>
        </h6>

        <span class="text-info text-gradient">butter/split automatically calculates the balance, and who needs to pay back whom.</span>
        <br>
        <span class="text-info text-gradient">This way, all participants share the costs fairly and transparently — without complicated calculations or misunderstandings.</span>
      </div>
    </div>
  </section>
{% endblock %}