{% extends '_base.html' %}
{% load static %}

{% block content %}
  <section class="home">
    <div class="home-head">
      <a href="{% url 'service:event-create' %}">
        <button type="button" class="button">
          <div class="button-top">
            <img src="{% static 'images/event-icon.png' %}" alt="Butter icon">
          </div>
          <div class="button-bottom"></div>
          <div class="button-base"></div>
        </button>
      </a>
      
      {% if event_chips %}
        <ul class="event-chips">
          {% for event_chip in event_chips %}
            <li>
              <a href="">
                <img
                    class="event-chip-icon"
                    src="{% static 'images/event-icon.png' %}"
                    alt="Event icon"
                >
                <p class="text-info text-gradient">
                  {{ event_chip.name|truncatechars_html:15 }}
                </p>
              </a>
            </li>
          {% endfor %}

          {% if is_max_events_reached %}
            <li>
              <a href="{% url 'service:event-list' %}">
                <p class="text-info text-gradient">
                  ...
                </p>
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endblock %}