.event-page-container.event-page-container {
  max-width: 500px;
  height: max-content;
  border-radius: 10px;
  align-items: center;
  padding: 0;

  background-color:  #e4f3ff;

  @media (max-width: 540px) {
    width: 90%;
  }
}

.event-card {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-sizing: border-box;

  img {
    width: 60px;
    height: 65px;
  }
}

.event-chips {
  padding: 0;
  margin-top: 10px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

  li {
    padding: 2px 5px;
    list-style: none;
    width: max-content;
    height: min-content;

    background: linear-gradient(310deg, rgba(79, 70, 229, 0.25), rgba(4.8, 145.6, 169.6, 0.25));
    border-radius: 10px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;

      text-decoration: none;

      img {
        width: 18px;
        height: 18px;
      }

      p {
        margin: 0;
      }
    }
  }
}

.event-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  max-width: 500px;
  height: calc(100vh - 150px);
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style: none;

  width: 100vw;
}
.event-list-heading {
  width: 100%;
  margin-bottom: 10px;
}

.event-list-heading {
  width: 100%;
  margin-bottom: 10px;
}

.events-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event {
  width: 90%;
  max-width: 500px;
  background-color: #e4f3ff;
  border-radius: 10px;
  padding: 10px;
}

.event-icon {
  width: 20px;
  height: 20px;
}

.event-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.event-title {
  display: flex;
  align-items: center;
  gap: 10px;

  h4 {
    margin: 0;
  }
}

.event-date {
  margin: 0;
  font-size: 12px;
  color: #71717a;
  text-align: right;
}

.event-currency {
  margin: 0;
  font-size: 16px;
  color: #71717a;
  text-align: right;
}


.event-activity {
  a {
    margin: 0;
  }

  .event-delete {
    font-size: 12px;
    text-decoration: none;
    color: #dc2626;

    &:hover {
      background-color: #ffdddd;
      color: #dc2626;
    }
  }

  .event-edit {
    font-size: 12px;
    text-decoration: none;
    color: #52525b;

    &:hover {
      background-color: #ddd;
      color: #52525b;
    }
  }
}

.participants-icon {
  width: 30px;
  height: 30px;
}