{% load static %}

<div class="event-activity">
  {% if request.resolver_match.url_name == 'event-list' %}
    <a href="{% url 'service:event-detail' event.id %}">
      <img class="event-open-icon" src="{% static 'images/open-icon.png' %}" alt="Event open">
    </a>
  {% endif %}

  {% if can_manage %}
    <a class="event-danger btn btn-link" href="{% url 'service:event-delete' event.id %}">DELETE</a>
    <a class="event-kind btn btn-link" href="{% url 'service:event-update' event.id %}">EDIT</a>
  {% endif %}
</div>
