{% load static %}

<div class="event-bar">
  <div class="event-bar_section">
    <img class="event-bar_image-money" src="{% static 'images/money-2.png' %}" alt="Money icon">
    <span>
      {{ event.get_total_expenses_amount|floatformat:2 }}
      {{ event.currency.symbol }}
    </span>
  </div>

  {% if request.resolver_match.url_name == 'event-calculate' %}
    <div class="event-bar_section">
      <img class="event-bar_image-event" src="{% static 'images/event-icon.png' %}" alt="Money icon">
      <span>
        {{ event.name }}
      </span>
    </div>
  {% endif %}

  <div class="event-bar_section">
    <img class="event-bar_image-butter" src="{% static 'images/butter.png' %}" alt="Butter icon">
    <span>
      {{ event.expenses.count }}
    </span>
  </div>

  <div class="event-bar_section">
    <img class="event-bar_image-participants" src="{% static 'images/participants-icon.png' %}" alt="Participants icon">
    <span>
      {{ event.participants.count }}
    </span>
  </div>

  {% if request.resolver_match.url_name != 'event-calculate' %}
    <div class="event-bar_section">
      <span class="event-bar-date">
        {{ event.created_at|date:"d M Y" }}
      </span>
    </div>
  {% endif %}
</div>