{% load static %}

<nav class="navbar navbar-expand-lg top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid pe-0 col-xl-5">
    <a class="logo">
      <img
          class="logo-image"
          src="{% static 'images/butter-knife-icon.png' %}"
          alt="butter/split logo"
      >
      <h4 class="font-weight-bolder text-info text-gradient logo-head">
        butter/split
      </h4>
    </a>
{#    <div class="collapse navbar-collapse" id="navigation">#}
{#      <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link me-2" href="">#}
{#            <i class="fa fa-user opacity-6 text-dark me-1"></i>#}
{#            Profile#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
  </div>
</nav>