{% load static %}

<nav class="navbar navbar-expand-lg top-0 z-index-3 shadow my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid pe-0 col-sm-8 col-xl-5">
    <div class="logo">
      <a href="{% url 'service:index' %}">
        <img
          class="logo-image"
          src="{% static 'images/butter-knife-icon.png' %}"
          alt="butter/split logo"
        >
      </a>
      <a href="{% url 'service:index' %}">
        <h4 class="font-weight-bolder text-info text-gradient logo-head">
          butter/split
        </h4>
      </a>
    </div>

    {% if request.user.is_authenticated %}
      <div class="logout-form-section">
        <p class="nav-username text-info text-gradient font-weight-bold m-0">
          {{ user.username }}
        </p>
        <div class="divide">
      </div>
    {% else %}
      {% if request.resolver_match.url_name != 'login' %}
        <div class="signin-section">
          <a
            href="{% url 'service:login' %}"
            class="text-info text-gradient font-weight-bold"
          >
            Sign in
          </a>
      {% endif %}
      </div>
    {% endif %}
  </div>
</nav>