{% load widget_tweaks %}

<form role="form" method="post" novalidate>
  {% csrf_token %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <span class="d-block text-danger mb-3">{{ error }}</span>
    {% endfor %}
  {% endif %}

  {% for field in form %}
    <label>{{ field.label }}</label>
    <div class="mb-3">
      {{ field|add_class:"form-control" }}
    </div>
  {% endfor %}

  <button type="submit" class="btn bg-gradient-info w-100 mb-0">Sign in</button>
</form>